html {
  min-height: 100%;
  position: relative;
}
body {
  margin: 0;
  margin-bottom: 40px;
}

#page-container {
  position: relative;
  min-height: 100vh;
  margin: 0;
  padding-bottom: calc(4rem + 16px);
}

#content-wrap {
  padding: 0;
  margin: 0;
}

#footer {
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
}
