<footer class="bg-info text-white py-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <h4>Simple Project Angular-Php</h4>
                <p>Multi-user task list</p>
            </div>
            <div class="col-lg-6 text-lg-end">
                <h5>Contact</h5>
                <ul class="list-unstyled">
                    <li>Email: rcarcole@hotmail.com</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <p>&copy; 2023 without any rights reserved :)</p>
            </div>
        </div>
    </div>
</footer>