<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" [formGroup]="form">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">New task</label>
                <input type="text" class="form-control" formControlName="name" placeholder="name@example.com">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Description (optional)</label>
                <textarea *ngIf="task" class="form-control" formControlName="description"
                    rows="3">{{ task.description }}</textarea>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="addTask()">Add</button>
        </div>
    </div>
</div>